body, html {
    height: 100%;

}

.home_div {

   /*background-image: url("https://image.ibb.co/meCdCG/pexels_photo_268976.jpg");*/
   
    height: 100%;
    position: relative;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #050808;


}

.portfolio_div{
    /* Full height */
    height: 100%;
    position: relative;
}

.blog_div{
    /* Full height */
    height: 100%;
    position: relative;
}

.about_me_div{
    /* Full height */
    height: 100%;
    position: relative;
}
.introduction{
    height: 82%;
    position: relative;
    text-align: left;
    /*padding-left: 5%;
    padding-right: 5%;*/

}

span {
    color: white;
    font-size: 18px;

}

#greeting_header{
    font-size: 20px;
    display:block;
    margin-top: 10px;
    font-family: 'IBM Plex Mono', monospace;
    padding-left: 10px;
    background-color: transparent;
    
}

#name{
    font-size: 20px;

}

/*#greeting_content{
    font-size: 25px;
    display:block;


}

#greeting_hastags{
    display:block;
    font-size: 35px;
    text-align: center;

}*/

.current_status{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}

#particles-js{
    width: 100%;
    height: 350px;
    max-height: inherit;
}

/*blinking cursor*/
.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-style: bold;
    font-size: 20pt;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
