<!doctype html>
<html>
<head>
    <% include heads %>
   
</head>

<body>

        <div id="introduction" >
            <% include introduction %>     
        </div>
  


        <div id="resume"  >
            
        </div>


    
        <div id="projects" >

        </div>


        <div id="social">
                <% include social %>  
        </div>


    <div id="floating_container">

       
        <div id="floating_button">
                <img class="message" src="https://png.icons8.com/cotton/40/000000/filled-chat.png">
                <img class = "share" src="https://png.icons8.com/color/40/000000/share.png">
        </div>
    </div>



</body>
</html>
