<!doctype html>
<html>
<head>
    <% include heads %>
   
</head>

<body>

        <div id="introduction" >
            <% include introduction %>     
            
        </div>
  


        <div id="resume"  >
            
        </div>


    
        <div id="projects" >

        </div>


        <div id="social">
                <% include social %>  
        </div>


   


</body>
</html>
