<!doctype html>
<html>
<head>
    <% include heads %>
</head>

<body>

    <div id="introduction">
        <% include introduction %>     
    </div>


    <div class="resume">

    </div>
    <div class="portfolio_div">

    </div>

    <!--social div container-->
    <div class="social_div">
        <%include social%>
    </div>
</body>
</html>
