<div class="current_status">
    <img src="https://image.ibb.co/cqerXG/nghi_logo.png" width="160px" height="160px"/>
</div>
<!--<canvas data-processing-sources="sketches/terrain/terrain.pde"></canvas>-->
<div id="particles-js"></div>
<span id="greeting_header"> JenniferNghiNguyen$  <span id="name"></span></span><br>
<!--<span id="greeting_content"> </span><br>
<span id="greeting_hastags"></span>-->