<div id="menu">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                    <img src="https://image.ibb.co/cqerXG/nghi_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    Jennifernghinguyen.com
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Resume</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacts</a>
                </li>

              </ul>
            </div>

          </nav>
    
</div>

    <div class="row no-gutters">


        <div class="intro-content col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
           
            <p> Hi, <br/>
                I'm Jennifer Nghi Nguyen <br/>
                Computer science student graduating in Dec 2018.<br/> 
                I develope websites, apps, backdend development and databases.
            </p>

            <div id="intro_btn">

                    <button id="btn_hire">Hire me</button>

                    <button id="btn_resume">Resume</button>


            </div>


        </div>
 

        <div class="img-content col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            img-content
        </div>
    </div>
    <!--<div id="text_all">
        <span id ="name"></span> <br/>
        <span id = "intro">Computer science student graduating in Dec 2018.<br/> I develope and design websites, apps, backdend development and databases.</span>
    </div>-->

</div>
