<div id="menu">
    <ul id=menu_items>    
        <li>
            <a href="http://jennifernghinguyen.com/">Home </a>
        </li>   
        <li>
            <a href="#">Resume </a>
        </li>
        <li>
            <a href="#">Projects </a>
        </li>
        <li>
            <a href="#">Contacts </a>
        </li>   
    </ul>    
</div>

<div id="intro_content">
    <div id="text_all">
        <span id ="name"></span> 
        <span id = "intro">Computer science student graduating in Dec 2018.<br/> I develope and design websites, apps, backdend development and databases.</span>
    </div>
</div>