<!--<div class="row">
    <div id="map">

    </div>
</div>-->
<!--<span>Hand made by me 2018.</span> <br/>
-->
<!--<div class="row">
<div class="social_div">
        <ul>
            <li class="linkedin" onclick="window.open('https://www.linkedin.com/in/nghi-nguyen/', '_blank')"><i class="fa fa-linkedin" aria-hidden="true" ></i></li>
            <li class="email" onclick="window.open('mailto:jenniernghinguyen@gmail.com', '_blank')"><i class="fa fa-envelope" aria-hidden="true"></i></li>
            <li class="github" onclick="window.open('https://github.com/jennifernghi', '_blank')"><i class="fa fa fa-github " aria-hidden="true"></i></li>
            <li class="twitter" onclick="window.open('https://twitter.com/jennifer_nghi', '_blank')"><i class="fa fa-twitter" aria-hidden="true" ></i></li>
            <li class="facebook" onclick="window.open('https://www.facebook.com/jennifer.nghi', '_blank')"><i class="fa fa-facebook" aria-hidden="true" ></i></li>
         </ul>
        </div></div>
<script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiamVubmlmZXJuZ2hpIiwiYSI6ImNqaWt3MnlpaDAxanYzcXBlOWc1MGhiZWIifQ.aWktJlH7vo74Fdf5hHE5aA';
        var map = new mapboxgl.Map({
            container: 'map', // container id
            style: 'mapbox://styles/mapbox/streets-v9', // stylesheet location
            center: [-121.885881, 37.33839], // starting position [lng, lat]
            zoom: 11 // starting zoom
        });
        var marker = new mapboxgl.Marker()
  .setLngLat([-121.885881, 37.33839])
  .addTo(map);
</script>-->