body, html {
    height: 100%;
    min-width: 700px;
}



/*blinking cursor*/
.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-style: bold;
    font-size: 20pt;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#introduction{
    width: 100%;
    height: 100%;
    background-image: url("https://image.ibb.co/jqLgqJ/computer_desk2.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 116, 219,.6);
    position: relative;
}

#menu  {
    width: 100%;
    height: 70px;
    position: absolute;
    z-index: 1;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
}

#intro_content{
    /*background-color: blueviolet;*/
    
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: 1;
    top: 70px;
}

div#text_all{
    margin: auto;
    width: 70%;
    height: 500px;
    position: relative;

    /*background-color: aqua;*/
}

div#text_all span {
    margin: 0;
    position: absolute;       
    top: 50%;                       
    transform: translate(0, -50%);
    color: white;
    
}

div#text_all span#name{
    font-size: 35pt; 
    font-weight: bold;
    
}

div#text_all span#intro{
    margin-top: 20px;
    font-size: 20pt; 
    top: 70%;                       
    transform: translate(0, -70%);
}









