@import url("floating_button.css");
:root{
    --height: 100vh; /* For 100% screen height */
    --width:  100vw; /* For 100% screen width */
    --social-height: 500px;
}
body, html {
    height: var(--height);
    min-width: 700px;
}
#introduction, #resume, #projects, #social{
    width: var(--width);
    
    padding: 0;
}
#introduction{
    min-height: var(--height);
}
#resume{
    background-color: white;
    min-height: var(--height);
}
#projects{
    background-color: yellow;
    min-height: var(--height);
}
#social{
    background-color: blueviolet;
    min-height: var(--social-height);
}
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
  }
  .row.no-gutters > [class^="col-"],
  .row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }

  .row{
    width: 100%;
    padding: 0;
    background-color: #1b1c1c;
}

.main-contain{
    background-color: aqua;
    padding: 0;
}
