#menu_name {
    font-family: 'Delius', cursive;
    color: white;
    font-size: 16pt;
    float: left;
}

#menu_items{
    float: right;
}

ul#menu_items{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul#menu_items li{
    display: inline-block;
    text-align:center;
    padding-top: 5px;
}

ul#menu_items li a{

    padding-right: 12px;
    padding-left: 12px;
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 16pt;
    font-weight: 100;
}